page-about {

}
[padding] h1:first-child, [padding] h2:first-child, [padding] h3:first-child, [padding] h4:first-child, [padding] h5:first-child, [padding] h6:first-child {
    margin-top: 0rem;
}
p {
  text-indent:1.5em;
}
  .social-cards ion-col {
    padding: 0;
  }