<ion-header>
	<ion-navbar>
		<ion-title>
			开始答题
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list>
		<ion-list-header>
			 {{questionInfo.name}} <a>{{tips}}</a>
		</ion-list-header>
		<ion-item *ngFor="let questionItem of questionInfo.questionItemList">
			<li class="item item-checkbox">
				<label class="radio">
            		<input type="radio" name="answer" value="{{questionItem.id}}"  [(ngModel)]="answerItem">{{questionItem.name}}
          		</label>
			</li>
		</ion-item>
	</ion-list>

	<div>
		<button full ion-button (click)="submitAnswer()" *ngIf="hasQuestion">
        提交
      </button>
	</div>
	<div>
		<button full ion-button (click)="goHome()">
        返回首页
      </button>
	</div>
</ion-content>