<ion-header>
	<ion-navbar>
		<ion-title *ngIf="showLogin">登录</ion-title>
		<ion-title *ngIf="!showLogin">注册</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="padding">
	<ion-list  *ngIf="showLogin">
		<ion-item>
			<ion-label>用户名:</ion-label>
			<ion-input type="text" [(ngModel)]="user.name"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>密码:</ion-label>
			<ion-input type="password" [(ngModel)]="user.password"></ion-input>
		</ion-item>
		<ion-item>
			<button ion-button block (click)="login()">
				登录
			</button>
		</ion-item>
		<ion-item>
			<button ion-button full (click)="toRegister()">
				立即注册
			</button>
		</ion-item>
		<ion-item>
			<span class="input-label">{{loginTip}}</span>
		</ion-item>
	</ion-list>
	<ion-list inset *ngIf="!showLogin">
		<ion-item>
			<ion-label>用户名:</ion-label>
			<ion-input type="text" [(ngModel)]="user.name"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>密码:</ion-label>
			<ion-input type="password" [(ngModel)]="user.password"></ion-input>
		</ion-item>
		<ion-item>
			<button ion-button full (click)="register()">
        注册
      </button>
		</ion-item>
		<ion-item>
			<button ion-button full (click)="toLogin()">
        返回登录
      </button>
		</ion-item>
		<ion-item>
			<span class="input-label">{{registerTip}}</span>
		</ion-item>
	</ion-list>
</ion-content>