page-moviedetail {
ion-item-sliding{
    border-bottom: 1px solid #dedede;
}
.datestyle{
    color: darkgray;
    text-indent:2em;
}
.card-md ion-card-content{
    padding:13px 16px 0px 16px;
}
ion-col{
    padding:5px 5px 0px 5px;
}
}