page-moviehome {
.card-md ion-card-content{
  padding: 0;
}
ion-grid{
padding: 0;
}
img{
  width:70px;
  height:70px;
}
.card-md h4{
    color: darkgray;
    margin: 1px 0;
    font-size: 1.2rem;
}
}
