<ion-header>
	<ion-navbar>
		<ion-title>美图</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="card-background-page">
	<ion-card *ngFor="let jokeCategoryItem of jokeCategoryList">
		<ion-card-content>
			<ion-grid>
				<ion-row (click)="browser(jokeCategoryItem)">
					<ion-col width-25>
						<img src="http://www.meileyan.com{{jokeCategoryItem.thumb}}" />
					</ion-col>
					<ion-col width-75>
						<div>{{jokeCategoryItem.name}}</div>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-card-content>
	</ion-card>

</ion-content>

<!--<ion-content class="card-background-page">
	<ion-card *ngFor="let jokeCategoryItem of jokeCategoryList">
		<img src="http://www.meileyan.com{{jokeCategoryItem.thumb}}" (click)="browser(jokeCategoryItem)" />
		<div class="card-title" (click)="browser(jokeCategoryItem)">{{jokeCategoryItem.name}}</div>
	</ion-card>
</ion-content>-->