<ion-header>
	<ion-navbar>
		<ion-title>
			评论
		</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="addComment()">
        <ion-icon name="create"></ion-icon>
      </button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list>
		<ion-list-header *ngIf="displayHot">
			最热评论
		</ion-list-header>
		<ion-item-sliding *ngFor="let commentItem of hotCommentList">
			<ion-item>
				<ion-avatar item-left>
					<img src="http://120.76.200.75:8080/lisi/Uploads/20170206/2017020610105560071.jpg">
				</ion-avatar>
				<h2>{{commentItem.userId}}</h2>
				<h3> {{commentItem.content}}</h3>
			</ion-item>
			<ion-item-options side="right">
				<button ion-button color="primary">
        <ion-icon name="text"></ion-icon>
        顶
      </button>
				<button ion-button color="secondary">
        <ion-icon name="call"></ion-icon>
        回复
      </button>
				<button ion-button color="primary">
        <ion-icon name="mail"></ion-icon>
        举报
      </button>
			</ion-item-options>
		</ion-item-sliding>
		<ion-list-header>
			最新评论{{commentNum}}
		</ion-list-header>
		<ion-item-sliding *ngFor="let commentItem of commentList">
			<ion-item>
				<ion-avatar item-left>
					<img src="http://120.76.200.75:8080/lisi/Uploads/20170206/2017020610105560071.jpg">
				</ion-avatar>
				<h2>{{commentItem.userId}}</h2>
				<h3> {{commentItem.content}}</h3>
			</ion-item>
			<ion-item-options side="right">
				<button ion-button color="primary">
        <ion-icon name="text"></ion-icon>
        顶
      </button>
				<button ion-button color="secondary">
        <ion-icon name="call"></ion-icon>
        回复
      </button>
				<button ion-button color="primary">
        <ion-icon name="mail"></ion-icon>
        举报
      </button>
			</ion-item-options>
		</ion-item-sliding>
	</ion-list>
	<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>