page-comment {
.card-md h3{
    color: blue;
}
.card-md h4{
    color: darkgray;
    margin: 1px 5px;
}
ion-row{
    height: 25px;
}
div{word-break:break-word;}
.content{word-break:break-word;white-space:pre-wrap;}

ion-item-sliding{
    border-bottom: 1px solid #dedede;
}
}
