page-comment {
h3{
    color: blue;
}
h4{
    color: darkgray;
}
ion-row{
    height: 25px;
}
div{word-break:break-word;}
.content{word-break:break-word;white-space:pre-wrap;}

ion-item-sliding{
    border-bottom: 1px solid #dedede;
}
}
